.circular-animation {
    width: 100px;
    height: 100px;
    background-color: #FE8C00; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .animated-circle {
    stroke-dasharray: 295.31;
    stroke-dashoffset: 295.31;
    animation: drawCircle 300ms linear forwards;
    transform: rotate(-90deg);
    transform-origin: center;
  }
  
  .white-circle {
    /* No animation needed for this circle */
  }
  
  .arrow {
    transform-origin: center;
  }
  
  @keyframes drawCircle {
    to {
      stroke-dashoffset: 0;
    }
  }